# Build outputs
bin/
out/
target/

# Compiled classes
*.class

# Logs
*.log

# Archives
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE files
.vscode/
.idea/
*.iml

# JVM crash logs
hs_err_pid*
replay_pid*

# Local datasets
GTFS/